@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.profile {
  background-color: var(--secondary-bg);
  color: var(--primary-text);

  &__text {
    font-weight: 500;
    @extend .body-small;

    &--small {
      @extend .labels-small;
    }
  }

  &--small {
    background-color: var(--primary);
    color: var(--primary-text2);
  }
}
