@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.profile {
  background-color: var(--secondary-bg);
  &__text {
    color: var(--primary-text);
    font-weight: 500;
    @extend .body-small;
  }
}
