$black: #373A40; // 222831
$darkBlack: #000000;

$teal: #6DA4AA; //2D9596
$darkTeal: #135D66;

$slate: #758694;
$cloud: #BDC5D5;

$white: #FFFFFF;
$lightGrey: #F5F7F8;

$red: #EA5455;

$alertRed: #FF6969;
$alertGreen: #7F9F80;
