@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.project {
  cursor: pointer;
  color: var(--primary-text);

  &__content__label {
    @extend .labels-small;
    font-weight: 500;
  }

  &__name {
    @extend .body-large;
    word-break: break-all;
  }

  &__timestamp {
    @extend .body-small;
    font-style: italic;
  }

  &__btn {
    color: var(--primary-text);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    @extend .labels-small;

    &:hover {
      font-weight: 500;
    }
  }

  &__lead {
    @extend .body-small;
    font-weight: 500;
  }

  &:hover {
    background-color: var(--secondary-bg);
  }
}
