@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.task-item {
  background-color: var(--bg-main);
  min-height: 8rem;

  &__title, &__user {
    @extend .body-medium;
  }

  &__user {
    font-weight: bold;
  }
}