@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.project-layout {
  color: var(--primary-text);

  &__logo {
    .logo {
      font-family: 'Karla', sans-serif;
      color: var(--logo);
    }
    
  }

  .nav {
    border-right: 1px solid var(--divider);
    min-height: 90vh;

    &__header {
      @extend .section-header;
      font-weight: 500;
    }

    &__sub-text {
      @extend .body-small;
      color: var(--secondary);
    }

    &__link {
      &:hover, &--active {
        font-weight: 500;
        background-color: var(--secondary-bg);
      }
    }
  }

  &__links, .nav__links {
    @extend .link-text
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {

    @include desktop {
      width: 100%;
    }
  }

  &__content {
    min-height: 90vh;
  }

  .project {
    &__team {
      @extend .body-medium;
    }

    &__team-count {
      border: 1px solid var(--secondary);
      width: 1.5rem;
      height: 1.5rem;
    }

  }
}