@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@import "../../index.scss";

.add-member {
  &__content {
    min-height: 40vh;
  }

  &__search {
    background-color: transparent;
    @extend .body-medium;

    &:focus {
      font-size: 1rem;
    }
  }

  &__user {
    cursor: pointer;
    &:hover {
      background-color: var(--secondary-bg);
    }

    &--selected {
      font-weight: bold;
      background-color: var(--secondary-bg);
    }

  }

  &__email {
    @extend .body-small;
  }
}
